*{
	box-sizing:border-box;
	font-family: 'Lato', sans-serif;
}

body{
	width:100%;
	margin:0;
	position:relative;
	background-color: #DDDDDD
}
.page-elements{
	height:90vh;
	width:100%;
	border-top:none;
	position:relative;
	margin-top:100px;
	box-shadow:1px 1px 15px black;
}




nav{
	top:0;
	margin:0;
	padding:0;
	width:100%;
	z-index:1;
}

body.stickyNav nav{
	position:fixed;
	-webkit-transform: translateZ(0);
}

nav{
	height:10vh;
}

nav > ul{
display:flex;
margin:0;
padding:0;
list-style-type:none;
overflow:hidden;
height:100%;
}

nav > ul > li{
	text-align: center;
	background-color:black;
	box-shadow:2px 2px 5px black;
	user-select: none;
	cursor:pointer;
	flex:1 1 50px;
	opacity:0.9;

}


nav > ul > li:hover{
	background-color:#222222;
}

a{
	color:white;
	text-decoration: none;
	display:inline-block;
	width:100%;
	font-size:2vw;
	padding:2vw;
	padding-right:0;
	padding-left:0;
}

header{
display:flex;
background-image: url("../images/carousel/guitar-445387_1920.jpg");
background-size:cover;
background-position: bottom center;
background-repeat:no-repeat;
background-attachment:fixed;
}


.landing-page{
	margin:0;
}

header > h1{
	color:white;
	position:relative;
	margin:auto;
	text-align: center;
	font-size:12.3vw;
	text-shadow: 0.1vw 0 0 #000, 0 -0.1vw 0 #000, 0 0.1vw 0 #000, -0.3vw 0 0 #000;
}

.memberLabel{	
	margin:0;
	background-color:rgba(0,0,0, 0.8);
	height:7%;
	color:white;
	border:solid black;
	position:relative;
	overflow: hidden;
	transition:all 2s;

}

.memberLabel > p{
	position:absolute;
	margin:auto;
	margin:0;
	padding:0;
	margin-top: 7vh;
}


.about-page{
	-webkit-transform: translateZ(0);
	border:solid;
	margin:auto;
	display:flex;
	margin-top:50px;
}

.about-page > .bandMember{
	flex:1 1 20px;
	border-right:solid 1px;
	text-align:center;
	transition:all 0.8s;
	height:100%;
	background-size:cover;
	font-size:1.5vw;
	background-repeat: no-repeat;
	background-position: center;
}

#Damien{
	background-image: url('../images/d-guitarr.jpg') ;
}

#Patrick{
	background-image: url('../images/p-guitar.jpg') ;
}

#Nicholas{
	background-image: url('../images/n-keyboard.jpg') ;
}

#David{
	background-image: url('../images/d-drums.jpg') ;
}


.about-page > .band-active{
	flex:5 5 20px;
}

.gallery-photos{
	height:100%;
    display: flex;
    flex-wrap: wrap;
    width:100%;
}

.gallery-photo{
	border:solid 1px;
	flex: 1 1 33%;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center;
}

.gallery-photo *{
	background-repeat:no-repeat;
}

.gallery-photo[data-gallery-index = "0"]{
	background-image:url('../images/gallery-images/fire-orange-emergency-burning.jpg');
}

.gallery-photo[data-gallery-index = "1"]{
	background-image:url('../images/gallery-images/air-bubbles-diving-underwater-blow-62307.jpeg');
}

.gallery-photo[data-gallery-index = "2"]{
	background-image:url('../images/gallery-images/pexels-photo-457713.jpeg');
}

.gallery-photo[data-gallery-index = "3"]{
	background-image:url('../images/gallery-images/pexels-photo-314726.jpeg');
}

.gallery-photo[data-gallery-index = "4"]{
	background-image:url('../images/gallery-images/drought-aridity-dry-earth.jpg');
}

.gallery-photo[data-gallery-index = "5"]{
	background-image:url('../images/gallery-images/pexels-photo-173292.jpeg');
}

.gallery-photo[data-gallery-index = "6"]{
	background-image:url('../images/gallery-images/pexels-photo-176851.jpeg');
}

.gallery-photo[data-gallery-index = "7"]{
	background-image:url('../images/gallery-images/pexels-photo-672112.jpeg');
}

.gallery-photo[data-gallery-index = "8"]{
	background-image:url('../images/gallery-images/pexels-photo-139303.jpeg');
}

.contact-page{
	background-color: #A1B2C3;
	text-align:center;
}

.contact-page > h3{
		border-bottom:solid 1px black;
		background-color:#ffbc4d;
		font-size: 3.5vw;
		padding:20px;
		color:black;
}

.contact-page > form{
	border:solid;
	width: 80vw;
	margin: auto;
	border:none;
}

.contact-page > form > *{
	width:80%;
	padding:15px;
	font-size:2vw;
	margin:2px;
	border:solid 2px;
	border-radius:5px 5px 5px 5px;
	padding:5px;
	height:100%;
}

form > textarea{
	resize:none;
}

.typing-words{
	position:absolute;
	text-align:center;
	margin-top:20px;
	width:100%;
	font-size:5vw;
	bottom:0;
}

.typing-dash{
	font-size:100%;
	position:relative;
	left:-1.5vw;
	bottom:2px;
}

.changeable-letters{
	border-bottom:solid 1px red;
	border-spacing:10px 50px;
	border-bottom-width: 4px
}


.footer{
	height:10vh;
	background-color: #ACCDDD;
	text-align:center;
	font-size:2vw;
}

.side-menu{
	position:fixed;
	top:0;
	height:100vh;

	background-color: rgba(0, 0, 0, 0.8);
	transform:translate(-100%, 0);
	transition: all 1s;
	overflow:hidden;
}

.side-menu-active{
	transform:translate(0, 0);
	z-index: 6;
}


.side-menu > *{
color:white;
text-align:center;
padding:20px;
}

.overlay{
	width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.0);
    z-index: 1;
    position:absolute;
    transition: all 1s;
    display:none;
}
.overlay-active{
	display: initial;
	background-color: rgba(0,0,0,0.7);
}

.side-menu > ul{
	list-style-type: none;
	margin:0;
	padding:0;

}

.side-menu > ul > li a{
		width:100%;
		font-size:2vw;
		padding:20px;
}

.socials{
	position:absolute;
	bottom:0;
	right:0;
}
 .member-label-active{
	height:100%;
}

.photo-active{
	position:fixed;
	width:60vw;
	height:50vh;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	min-width:400px;
	transition:opacity 0.3s;
}

.photo-changing{
	opacity: 0.5;
}

.photo-changer{
	background-color:rgba(33, 33, 33, 0.85);
	color:white;
	box-shadow:1px 1px 8px black;
	text-align:center;
	font-size:40px;
	padding:5px;
	width:10%;
	position:absolute;
	height:10%;
	margin:auto;
	top:0;
	bottom:0;
	min-width:60px;
	min-height:60px;
	user-select: none;
	cursor:pointer;
}

.photo-changer--right{
	right:0;
}

.photo-changer--left{
	left:0;
}

@media screen and (max-width: 680px) {
	.side-menu{
		display:none;
	}

	.page-elements{
		height:100vh;
	}

	.about-page{
		display:block;
	}

	.memberLabel{
		font-size:3.5vw;
		height:20%;
	}


	.memberLabel > p {
		margin-top:4vh;
		font-size:1.5vh;
	}

	.gallery-photos{
		flex-direction:column;
		flex-wrap:nowrap;
	}



	.about-page > .bandMember{
		flex:0;
		height:25%;
	}	

		
	.navigation ul{
		display:block;
		position:initial;
	}
	.navigation ul > li > a{
		font-size: 2vw;
	}

	 .member-label-active{
		height:100%;
	}

	.contact-page{
		height:80vh;
	}

	.contact-page > form{
		width:100%;
	}
	.contact-page > form > *{
		width:100%;
		border-radius:0;
		margin:0;
		height:10vh;
		border:0;
		margin-top:20px;
		box-shadow: 0px 1px 4px black;
	}
	.footer{
		height:20vh;
		width:100%;
		font-size:5vw;
	}
}